#bio-container {
  padding: 1px;
}

#bio {
  font-size: 16px;
  line-height: 1.5;
}

#bio-header {
  font-family: "Big Shoulders Text";
  font-size: 40px;
  color: white;
  margin: 17px 0px 0px 0px;
}

#headshot {
  padding-bottom: 15px;
}