#bio-container {
  padding: 1px;
}

.content {
  font-size: 16px;
  line-height: 1.5;
}

.section-header {
  font-family: "Big Shoulders Text";
  font-size: 40px;
  color: white;
  margin: 17px 0px 0px 0px;
}

#headshot {
  padding-bottom: 15px;
}

.top-icons {
  margin-bottom: 5px;
}

.ll-row {
  margin-top: 30px;
  margin-bottom: 40px;
}

.icon-header {

  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
}