.nav-wrapper {
  background-color: #FFAD7B;
  padding: 10px;
}

.button {
  padding: 11px;
  margin: 7px 40px 5px 40px;
  background-color: lightgrey;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

#home-button {
  padding: 11px 34px 11px 33px;
}